.chat-messages__info{data: {id: message.id}}
  .chat-messages__info--user
    = message.user.name
  .chat-messages__info--date
    = message.created_at.strftime('%Y/%m/%d (%a) %X')
.chat-messages__message
  .chat-messages__message--text
    = message.body
  - unless message.image.file.nil?
    = image_tag message.image, class: "chat-messages__message--image"